In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [4]:
df_brands = pd.read_csv('Rt8ETleD0l2G_one')
df_led_disb = pd.read_csv('led_disbursements.csv')

In [5]:
df_led_disb.head()

   Unnamed: 0  CUSTOMER_ID    AGREEMENT_NO  DISBURSEMENT_DATE PRODUCT_ID  MODEL_ID  AMT_FIN     EMI   AGE EMPLOYMENTTYPE  GENDER MARITALSTATUS       CITY
0           0     69992537  4W2RCD94212620           20181113        RCD     97839  20500.0  1709.0   NaN            NaN     NaN           NaN        NaN
1           1     66045861  4380CD70492193           20180410         CD     89206  25500.0  2125.0  30.0  SELF EMPLOYED    Male       MARRIED  JALANDHAR
2           2     59748755  4290CD89566138           20180930         CD     97855  45000.0  2500.0  33.0  SELF EMPLOYED  Female       MARRIED      ERODE
3           3    105045977  4D30CD93426426           20181108         CD     95606  21300.0  1775.0   NaN            NaN     NaN           NaN        NaN
4           4     67682737  4400CD73400787           20180430         CD     82245  12750.0  1063.0  60.0  SELF EMPLOYED    Male       MARRIED     AMBALA

In [6]:
df_led_brand =df_brands[df_brands['CATEGORY_DESC'] == 'LED']

In [7]:
joined = df_led_disb.merge(df_led_brand,left_on='MODEL_ID',right_on='MODEL_ID',how='inner')

In [8]:
del joined['MD5_VALUE']

In [9]:
joined = joined.dropna()

In [10]:
state_data = pd.read_csv('Season_BFL_LED - Sheet14.csv')

In [11]:
state_data.columns

Index(['city', 'SUM of count', 'State', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [12]:
del state_data['Unnamed: 3']
del state_data['Unnamed: 4']
del state_data['SUM of count']

In [13]:
state_data.head()

          city State
0  Grand Total   NaN
1    HYDERABAD    AP
2    BANGALORE    KA
3       MUMBAI    MH
4      CHENNAI    TN

In [14]:
state_data = state_data.dropna()

In [15]:
#state_data.to_csv('state_list.csv',index=None)

In [16]:
#joined

In [17]:
#state_data = pd.merge(df_clean, state_data, on='city')

In [18]:
joined.shape

(1333563, 42)

In [19]:
#joined.isna().sum()

In [20]:
df_clean = pd.DataFrame()
df_clean[['customer_id','age','etype','gender', 'maritalstatus', 'city','manu_name','dis_data']] = joined[['CUSTOMER_ID','AGE','EMPLOYMENTTYPE','GENDER', 'MARITALSTATUS', 'CITY','MANUFACTURER_NAME','DISBURSEMENT_DATE']]

In [21]:
df_clean.head()

   customer_id   age          etype  gender maritalstatus        city                     manu_name  dis_data
1     65592179  43.0  SELF EMPLOYED    Male       MARRIED  COIMBATORE  LG ELECTRONICS INDIA PVT.LTD  20181130
3     20686212  30.0  SELF EMPLOYED    Male     UNMARRIED   JALANDHAR  LG ELECTRONICS INDIA PVT.LTD  20180925
4     21550688  50.0  SELF EMPLOYED    Male       MARRIED      NAGPUR  LG ELECTRONICS INDIA PVT.LTD  20181129
5     18152487  57.0       SALARIED  Female       MARRIED    KOTTAYAM  LG ELECTRONICS INDIA PVT.LTD  20181208
6     52374870  38.0  SELF EMPLOYED    Male       MARRIED      SANGLI  LG ELECTRONICS INDIA PVT.LTD  20181231

In [22]:
df = pd.merge(df_clean, state_data, on='city')
del df_clean

In [23]:
df.head()

   customer_id   age          etype gender maritalstatus        city                     manu_name  dis_data State
0     65592179  43.0  SELF EMPLOYED   Male       MARRIED  COIMBATORE  LG ELECTRONICS INDIA PVT.LTD  20181130    TN
1     40986359  36.0  SELF EMPLOYED   Male       MARRIED  COIMBATORE  LG ELECTRONICS INDIA PVT.LTD  20181211    TN
2     52417053  41.0       SALARIED   Male       MARRIED  COIMBATORE  LG ELECTRONICS INDIA PVT.LTD  20180929    TN
3     40907074  47.0  SELF EMPLOYED   Male       MARRIED  COIMBATORE  LG ELECTRONICS INDIA PVT.LTD  20181031    TN
4     50100344  37.0       SALARIED   Male       MARRIED  COIMBATORE  LG ELECTRONICS INDIA PVT.LTD  20181116    TN

In [24]:
df.shape

(995237, 9)

In [25]:
df = df[df['State'].notnull()]

In [26]:
df.shape

(995237, 9)

In [27]:
# Binnig age
g = []
for elem in range(100):
    if elem % 5 == 0:
        #print(elem)
        g.append(elem)
df['AgeRange'] = pd.cut(df['age'], g)

In [28]:
df.head()

   customer_id   age          etype gender maritalstatus        city                     manu_name  dis_data State  AgeRange
0     65592179  43.0  SELF EMPLOYED   Male       MARRIED  COIMBATORE  LG ELECTRONICS INDIA PVT.LTD  20181130    TN  (40, 45]
1     40986359  36.0  SELF EMPLOYED   Male       MARRIED  COIMBATORE  LG ELECTRONICS INDIA PVT.LTD  20181211    TN  (35, 40]
2     52417053  41.0       SALARIED   Male       MARRIED  COIMBATORE  LG ELECTRONICS INDIA PVT.LTD  20180929    TN  (40, 45]
3     40907074  47.0  SELF EMPLOYED   Male       MARRIED  COIMBATORE  LG ELECTRONICS INDIA PVT.LTD  20181031    TN  (45, 50]
4     50100344  37.0       SALARIED   Male       MARRIED  COIMBATORE  LG ELECTRONICS INDIA PVT.LTD  20181116    TN  (35, 40]

In [29]:
# from tqdm import tqdm
# temp = ''
# a = []
# for i,row in tqdm(df.iterrows(),total=df.shape[0]):
#     temp = str(row['AgeRange'])
#     temp = temp.replace('(','')
#     temp = temp.split(',')
#     a.append(temp[0])
# df['age_bin'] = a

In [30]:
df['etype'] = df['etype'].replace({'SELF EMPLOYED': 'self_employed', 'Self Employed': 'self_employed', 'SELF EMPLOYED PROFESSIONAL': 'self_employed','Self Employed Professional':'self_employed'})

In [31]:
df['etype'] = df['etype'].replace({'SALARIED': 'salaried', 'Salaried': 'salaried', 'SAL': 'salaried'})

In [32]:
df.etype.value_counts()

self_employed      860613
salaried           134401
Not Categorized       206
OTHERS                 17
Name: etype, dtype: int64

In [33]:
df.maritalstatus.value_counts()

MARRIED      876667
UNMARRIED    118376
DIVORCEE        167
WIDOW            27
Name: maritalstatus, dtype: int64

In [34]:
df['age_bin'] = df['AgeRange'].apply(lambda x : x.left)

In [35]:
# from tqdm import tqdm
# temp = ''
# age_list = []
# a = []
# b = []
# c = []
# temp = ''
# t = ''
# s = ''
# v = ''
# for i,row in tqdm(df.iterrows(),total=df.shape[0]):
#     temp = str(row['AgeRange'])
#     temp = temp.replace('(','')
#     temp = temp.split(',')
#     age_list.append(temp[0])
    
#     # Date mapper
#     temp = row['dis_data']
#     t = str(temp)[:6]
#     s = str(temp)[:4]
#     v = str(temp)[4:6]
#     a.append(t)
#     b.append(s)
#     c.append(v)
# df['age_bin'] = age_list

In [36]:
#yy = df['dis_data'].apply(lambda x : str(x)[:6])
df['yyyymm'] = df['dis_data'].apply(lambda x : str(x)[:6])
df['yyyy'] = df['dis_data'].apply(lambda x : str(x)[:4])
df['mm'] = df['dis_data'].apply(lambda x : str(x)[4:6])

In [37]:
#yy[0]

In [38]:
# a = []
# b = []
# c = []
# temp = ''
# t = ''
# s = ''
# v = ''
# from tqdm import tqdm
# for i,row in tqdm(df.iterrows(),total = df.shape[0]):
#     temp = row['dis_data']
#     t = str(temp)[:6]
#     s = str(temp)[:4]
#     v = str(temp)[4:6]
#     a.append(t)
#     b.append(s)
#     c.append(v)

In [39]:
# df['yyyymm'] = a
# df['yyyy'] = b
# df['mm'] = c

In [40]:
df = df.dropna()

In [41]:
# temp = ''
# a = []
# for i,row in tqdm(df.iterrows(),total=df.shape[0]):
#     temp = str(row['AgeRange'])
#     temp = temp.replace('(','')
#     temp = temp.split(',')
#     a.append(temp[0])
# df['age_bin'] = a

In [42]:
del df['customer_id']
del df['city']
del df['dis_data']
del df['AgeRange']

In [43]:
df.head()

    age          etype gender maritalstatus                     manu_name State age_bin  yyyymm  yyyy  mm
0  43.0  self_employed   Male       MARRIED  LG ELECTRONICS INDIA PVT.LTD    TN      40  201811  2018  11
1  36.0  self_employed   Male       MARRIED  LG ELECTRONICS INDIA PVT.LTD    TN      35  201812  2018  12
2  41.0       salaried   Male       MARRIED  LG ELECTRONICS INDIA PVT.LTD    TN      40  201809  2018  09
3  47.0  self_employed   Male       MARRIED  LG ELECTRONICS INDIA PVT.LTD    TN      45  201810  2018  10
4  37.0       salaried   Male       MARRIED  LG ELECTRONICS INDIA PVT.LTD    TN      35  201811  2018  11

In [44]:
df1 = df.manu_name.value_counts().to_frame().reset_index()

In [45]:
df1.columns = ['brand','count']
df1 = df1.drop(df1[(df1['brand'] == 'LOCAL MANUFACTURERS')].index)

In [46]:
df1.head(10)

                                         brand   count
0                           SONY INDIA LIMITED  258420
1                 LG ELECTRONICS INDIA PVT.LTD  231898
2            SAMSUNG ELECTRONICS INDIA LIMITED  213826
3                      PANASONIC INDIA LIMITED  109863
4   LLOYD ELECTRIC & ENGINEERING LIMITED(LEEL)   30725
5           HAIER APPLIANCES (INDIA) P.LIMITED   29433
6                                        INTEX   18484
7              MIRC ELECTRONICS LIMITED(ONIDA)   17359
9                                    RECONNECT   10174
10                                MICROMAX LTD    8055

In [47]:
df = df.drop(df[(df['manu_name'] == 'LOCAL MANUFACTURERS')].index)

In [48]:
df.manu_name.value_counts()

SONY INDIA LIMITED                            258420
LG ELECTRONICS INDIA PVT.LTD                  231898
SAMSUNG ELECTRONICS INDIA LIMITED             213826
PANASONIC INDIA LIMITED                       109863
LLOYD ELECTRIC & ENGINEERING LIMITED(LEEL)     30725
HAIER APPLIANCES (INDIA) P.LIMITED             29433
INTEX                                          18484
MIRC ELECTRONICS LIMITED(ONIDA)                17359
RECONNECT                                      10174
MICROMAX LTD                                    8055
VIDEOCON                                        7637
CROMA                                           7037
SKYWORTH                                        6292
MITASHI EDUTAINMENT PVT LTD                     4956
VISE                                            4229
VU ELECTRONICS                                  4191
SHARP INDIA LIMITED                             3589
KCM APPLIANCES PVT LTD                          2817
AKAI CONSUMER ELECT INDIA LTD.                  2392
KORYO                                           1753
SANSUI                                          1688
TCL                                             1262
PHILIPS INDIA LIMITED                            951
TRUVISON INDUSTRIES PVT LTD                      848
VISHAL VIDEO & APPLIANCS PVT LTD AISEN           536
WESTWAY ELECTRONIC LIMITED                       493
ABAJ ELECTRONICS PVT LTD                         454
HYUNDAI ELECTRONICS INDIA LIMITED                233
VESTAR                                           168
FENDA AUDIO INDIA PVT LTD                        155
AGE INDIA                                        151
QFX                                               96
PANORAMA ELECT PVT LTD                            79
YARA ELECTRONIC                                   72
VIDEOTEX INTERNATIONAL PVT LTD                    66
BOSSH TECHNOLOGY INDIA LTD                        61
OSCAR                                             59
TSERIES                                           55
AOC                                               46
VEIRA ELECTRONICS PVT LTD                         45
FUTURE TECH ELECTRONICS PRIVATE LIMITED           39
CONSISTENT INFOSYSTEMS PVT LTD                    38
HITACHI INDIA PVT. LTD                            25
INFINITI RETAIL LIMITED                           18
HYUNDAI NEW                                       17
KODAK                                             13
WESTON                                             9
INTEC                                              9
OG HEAVY DUTY                                      8
HIGHTRON ELECTRONIC PVT LTD                        8
MYTRON                                             6
DREAM CARE                                         6
LYF                                                5
MEPL ELECTRONICS                                   4
VKS GLOBAL ELECTRONICS PRIVATE LIMITED             2
BPL LIMITED                                        2
CROWN                                              1
ZEBRONICS                                          1
SONIQ                                              1
ARISE INDIA LTD                                    1
Name: manu_name, dtype: int64

# Speed Bump ; check the class

In [49]:
top_7 = df1.iloc[:7].brand.tolist()
df= df.drop(df[(df['manu_name'] != top_7[0]) & (df['manu_name'] != top_7[1]) & (df['manu_name'] != top_7[2]) & (df['manu_name'] != top_7[3]) & (df['manu_name'] != top_7[4]) & (df['manu_name'] != top_7[5]) & (df['manu_name'] != top_7[6])].index)

In [48]:
#top_18 = df1.iloc[:18].brand.tolist()

#df= df.drop(df[(df['manu_name'] != top_18[3]) & (df['manu_name'] != top_18[4]) & (df['manu_name'] != top_18[5]) & (df['manu_name'] != top_18[6]) & (df['manu_name'] != top_18[7]) & (df['manu_name'] != top_18[8]) & (df['manu_name'] != top_18[9]) & (df['manu_name'] != top_18[10]) & (df['manu_name'] != top_18[11]) & (df['manu_name'] != top_18[12]) & (df['manu_name'] != top_18[13]) & (df['manu_name'] != top_18[14]) & (df['manu_name'] != top_18[15]) & (df['manu_name'] != top_18[16]) & (df['manu_name'] != top_18[17])].index)

In [50]:
df.manu_name.unique()

array(['LG ELECTRONICS INDIA PVT.LTD',
       'LLOYD ELECTRIC & ENGINEERING LIMITED(LEEL)', 'SONY INDIA LIMITED',
       'PANASONIC INDIA LIMITED', 'INTEX',
       'SAMSUNG ELECTRONICS INDIA LIMITED',
       'HAIER APPLIANCES (INDIA) P.LIMITED'], dtype=object)

In [51]:
df.head(1)

    age          etype gender maritalstatus                     manu_name State age_bin  yyyymm  yyyy  mm
0  43.0  self_employed   Male       MARRIED  LG ELECTRONICS INDIA PVT.LTD    TN      40  201811  2018  11

In [52]:
df.manu_name.value_counts()

SONY INDIA LIMITED                            258420
LG ELECTRONICS INDIA PVT.LTD                  231898
SAMSUNG ELECTRONICS INDIA LIMITED             213826
PANASONIC INDIA LIMITED                       109863
LLOYD ELECTRIC & ENGINEERING LIMITED(LEEL)     30725
HAIER APPLIANCES (INDIA) P.LIMITED             29433
INTEX                                          18484
Name: manu_name, dtype: int64

In [53]:
from sklearn import preprocessing

In [54]:
le = preprocessing.LabelEncoder()

In [55]:
le.fit(df.manu_name.unique())

LabelEncoder()

In [56]:
le.classes_

array(['HAIER APPLIANCES (INDIA) P.LIMITED', 'INTEX',
       'LG ELECTRONICS INDIA PVT.LTD',
       'LLOYD ELECTRIC & ENGINEERING LIMITED(LEEL)',
       'PANASONIC INDIA LIMITED', 'SAMSUNG ELECTRONICS INDIA LIMITED',
       'SONY INDIA LIMITED'], dtype=object)

In [57]:
df['label'] = le.transform(df.manu_name)

In [58]:
df.label.value_counts()

6    258420
2    231898
5    213826
4    109863
3     30725
0     29433
1     18484
Name: label, dtype: int64

In [59]:
df.head(1)

    age          etype gender maritalstatus                     manu_name State age_bin  yyyymm  yyyy  mm  label
0  43.0  self_employed   Male       MARRIED  LG ELECTRONICS INDIA PVT.LTD    TN      40  201811  2018  11      2

In [60]:
del df['manu_name']

In [61]:
'hello'

'hello'

In [62]:
del joined

# Preprocessing done, Model wrangling starts

In [63]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [64]:
one_hot = pd.get_dummies(df['etype'])
df = df.drop('etype',axis = 1)
df = df.join(one_hot)

one_hot = pd.get_dummies(df['gender'])
df = df.drop('gender',axis = 1)
df = df.join(one_hot)

one_hot = pd.get_dummies(df['maritalstatus'])
df = df.drop('maritalstatus',axis = 1)
df = df.join(one_hot)

one_hot = pd.get_dummies(df['State'])
df = df.drop('State',axis = 1)
df = df.join(one_hot)

In [64]:
# waiting

In [65]:
#df.head()

In [65]:
df.shape

(892649, 33)

In [66]:
#df.dtypes

In [67]:
y = df.label.tolist()
del df['label']
X = df.copy()

In [68]:
X = X.values
y = y

In [71]:
len(X),len(y)

(892649, 892649)

In [72]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [73]:
len(X_train),len(X_test),len(y_train),len(y_test)

(714119, 178530, 714119, 178530)

In [74]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(verbose=1,n_jobs=4)
clf.fit(X_train,y_train)

/home/ion/.local/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  10 out of  10 | elapsed:    7.7s finished

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=4,
            oob_score=False, random_state=None, verbose=1,
            warm_start=False)

In [75]:
y_pred = clf.predict(X_test)
accuracy_score(y_test, y_pred)

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  10 out of  10 | elapsed:    0.3s finished

0.2849044978434997

In [76]:
y_prob = clf.predict_proba(X_test)

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  10 out of  10 | elapsed:    0.3s finished

In [77]:
OP_df_test_data = pd.DataFrame(columns = ['y_test','y_pred'])
OP_df_test_data['y_test'] = y_test
OP_df_test_data['y_pred'] = y_pred
OP_df_test_data['true_label'] = le.inverse_transform(OP_df_test_data.y_test)
OP_df_test_data['pred_label'] = le.inverse_transform(OP_df_test_data.y_pred)

tt = []
top_3_probs = []
prob1 = []
prob2 = []
prob3 = []
for v in range(len(y_prob)):
    ec = []
    top_3_idx = np.argsort(y_prob[v])[-3:]
    ec = list(top_3_idx)
    tt.append(ec)
    prob1.append(y_prob[v][ec[2]])
    prob2.append(y_prob[v][ec[1]])
    prob3.append(y_prob[v][ec[0]])
    

# c = 0
# e = []
# for vv in range(len(tt)):
#     e = tt[vv]
#     for i in range(3):
#         if e[i] == y_test[vv]:
#             c += 1
#             break

OP_df_test_data['Reco_3_label'],OP_df_test_data['Reco_2_label'],OP_df_test_data['Reco_1_label'] = np.array(tt).T

OP_df_test_data['Reco_1'] = le.inverse_transform(OP_df_test_data['Reco_1_label'].values)
OP_df_test_data['Reco_2'] = le.inverse_transform(OP_df_test_data['Reco_2_label'].values)
OP_df_test_data['Reco_3'] = le.inverse_transform(OP_df_test_data['Reco_3_label'].values)

OP_df_test_data['Prob_1'] = prob1
OP_df_test_data['Prob_2'] = prob2
OP_df_test_data['Prob_3'] = prob3
# del df_preds['Reco_1_label']
# del df_preds['Reco_2_label']
# del df_preds['Reco_3_label']

#df_preds.to_csv('Reco_final_list.csv',index=None)

In [79]:
OP_df_test_data.head()

   y_test  y_pred                          true_label                    pred_label  Reco_3_label  Reco_2_label  Reco_1_label                        Reco_1                             Reco_2                              Reco_3    Prob_1    Prob_2    Prob_3
0       2       2        LG ELECTRONICS INDIA PVT.LTD  LG ELECTRONICS INDIA PVT.LTD             5             6             2  LG ELECTRONICS INDIA PVT.LTD                 SONY INDIA LIMITED   SAMSUNG ELECTRONICS INDIA LIMITED  0.294642  0.265658  0.245895
1       0       2  HAIER APPLIANCES (INDIA) P.LIMITED  LG ELECTRONICS INDIA PVT.LTD             5             4             2  LG ELECTRONICS INDIA PVT.LTD            PANASONIC INDIA LIMITED   SAMSUNG ELECTRONICS INDIA LIMITED  0.249577  0.247804  0.198699
2       4       6             PANASONIC INDIA LIMITED            SONY INDIA LIMITED             2             5             6            SONY INDIA LIMITED  SAMSUNG ELECTRONICS INDIA LIMITED        LG ELECTRONICS INDIA PVT.LTD  0.222439  0.221208  0.205869
3       1       6                               INTEX            SONY INDIA LIMITED             0             2             6            SONY INDIA LIMITED       LG ELECTRONICS INDIA PVT.LTD  HAIER APPLIANCES (INDIA) P.LIMITED  0.337445  0.299231  0.118031
4       2       6        LG ELECTRONICS INDIA PVT.LTD            SONY INDIA LIMITED             2             5             6            SONY INDIA LIMITED  SAMSUNG ELECTRONICS INDIA LIMITED        LG ELECTRONICS INDIA PVT.LTD  0.314587  0.309261  0.267490

In [78]:
OP_df_test_data.to_csv('high_3.csv',index=None)

In [ ]:
y_train[0]

In [ ]:
from sklearn.ensemble import RandomForestClassifier

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

clf = RandomForestClassifier(verbose=1,n_jobs=4)

clf.fit(X_train,y_train)

y_pred = clf.predict(X_test)

In [ ]:
accuracy_score(y_test, y_pred)

In [ ]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_sc = sc.fit_transform(X)

X_train_sc,X_test_sc,y_train_sc,y_test_sc = train_test_split(X_sc,y,test_size=0.2,random_state=42)

clf = RandomForestClassifier(verbose=1,n_jobs=4)

clf.fit(X_train_sc,y_train_sc)

y_pred = clf.predict(X_test_sc)

accuracy_score(y_test_sc, y_pred)

In [73]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_curve, auc

In [74]:
from sklearn.preprocessing import StandardScaler

In [75]:
clf = RandomForestClassifier(verbose=1,n_jobs=4,class_weight='balanced_subsample')
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
accuracy_score(y_test, y_pred)

/home/ion/.local/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  10 out of  10 | elapsed:    2.0s finished
[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  10 out of  10 | elapsed:    0.1s finished

0.14848307500613567

In [81]:
import xgboost as xgb

In [82]:
model = xgb.XGBClassifier(n_jobs=4)
model.fit(X_train,y_train)
y_pred = model.predict(X_test)
accuracy_score(y_test, y_pred)

0.30506357474934187

In [83]:
y_prob = model.predict_proba(X_test)

In [84]:
OP_df_test_data = pd.DataFrame(columns = ['y_test','y_pred'])
OP_df_test_data['y_test'] = y_test
OP_df_test_data['y_pred'] = y_pred
OP_df_test_data['true_label'] = le.inverse_transform(OP_df_test_data.y_test)
OP_df_test_data['pred_label'] = le.inverse_transform(OP_df_test_data.y_pred)

tt = []
top_3_probs = []
prob1 = []
prob2 = []
prob3 = []
for v in range(len(y_prob)):
    ec = []
    top_3_idx = np.argsort(y_prob[v])[-3:]
    ec = list(top_3_idx)
    tt.append(ec)
    prob1.append(y_prob[v][ec[2]])
    prob2.append(y_prob[v][ec[1]])
    prob3.append(y_prob[v][ec[0]])
    

# c = 0
# e = []
# for vv in range(len(tt)):
#     e = tt[vv]
#     for i in range(3):
#         if e[i] == y_test[vv]:
#             c += 1
#             break

OP_df_test_data['Reco_3_label'],OP_df_test_data['Reco_2_label'],OP_df_test_data['Reco_1_label'] = np.array(tt).T

OP_df_test_data['Reco_1'] = le.inverse_transform(OP_df_test_data['Reco_1_label'].values)
OP_df_test_data['Reco_2'] = le.inverse_transform(OP_df_test_data['Reco_2_label'].values)
OP_df_test_data['Reco_3'] = le.inverse_transform(OP_df_test_data['Reco_3_label'].values)

OP_df_test_data['Prob_1'] = prob1
OP_df_test_data['Prob_2'] = prob2
OP_df_test_data['Prob_3'] = prob3
# del df_preds['Reco_1_label']
# del df_preds['Reco_2_label']
# del df_preds['Reco_3_label']

#df_preds.to_csv('Reco_final_list.csv',index=None)

In [85]:
OP_df_test_data.to_csv('rare_class.csv',index=None)

In [81]:
OP_df_test_data.head(20)

    y_test  y_pred                                  true_label                       pred_label  Reco_3_label  Reco_2_label  Reco_1_label                           Reco_1                           Reco_2                                      Reco_3    Prob_1    Prob_2    Prob_3
0        8      12                     PANASONIC INDIA LIMITED                         VIDEOCON             5            13            12                         VIDEOCON                             VISE                                MICROMAX LTD  0.302179  0.178455  0.062947
1        8       9                     PANASONIC INDIA LIMITED                        RECONNECT             5            14             9                        RECONNECT                   VU ELECTRONICS                                MICROMAX LTD  0.296049  0.247530  0.131453
2        8       5                     PANASONIC INDIA LIMITED                     MICROMAX LTD            10             0             5                     MICROMAX LTD                            CROMA                         SHARP INDIA LIMITED  0.241361  0.178101  0.145373
3        2      12                                       INTEX                         VIDEOCON             2             0            12                         VIDEOCON                            CROMA                                       INTEX  0.264512  0.180016  0.095904
4        8       2                     PANASONIC INDIA LIMITED                            INTEX             1             9             2                            INTEX                        RECONNECT          HAIER APPLIANCES (INDIA) P.LIMITED  0.208973  0.149368  0.135393
5        8      13                     PANASONIC INDIA LIMITED                             VISE            12             0            13                             VISE                            CROMA                                    VIDEOCON  0.402230  0.212460  0.143671
6        8       8                     PANASONIC INDIA LIMITED          PANASONIC INDIA LIMITED             1            14             8          PANASONIC INDIA LIMITED                   VU ELECTRONICS          HAIER APPLIANCES (INDIA) P.LIMITED  0.800000  0.100000  0.100000
7        1       2          HAIER APPLIANCES (INDIA) P.LIMITED                            INTEX             1             6             2                            INTEX  MIRC ELECTRONICS LIMITED(ONIDA)          HAIER APPLIANCES (INDIA) P.LIMITED  0.333537  0.274051  0.188710
8       14       3                              VU ELECTRONICS           KCM APPLIANCES PVT LTD             5             7             3           KCM APPLIANCES PVT LTD      MITASHI EDUTAINMENT PVT LTD                                MICROMAX LTD  0.566744  0.244677  0.080850
9        8       2                     PANASONIC INDIA LIMITED                            INTEX             4             8             2                            INTEX          PANASONIC INDIA LIMITED  LLOYD ELECTRIC & ENGINEERING LIMITED(LEEL)  0.288068  0.285170  0.225734
10       2      14                                       INTEX                   VU ELECTRONICS            13            11            14                   VU ELECTRONICS                         SKYWORTH                                        VISE  0.293162  0.205820  0.077573
11       9       2                                   RECONNECT                            INTEX            14             8             2                            INTEX          PANASONIC INDIA LIMITED                              VU ELECTRONICS  0.518926  0.481074  0.000000
12       8      12                     PANASONIC INDIA LIMITED                         VIDEOCON             7            13            12                         VIDEOCON                             VISE                 MITASHI EDUTAINMENT PVT LTD  0.338711  0.171753  0.093497
13       8      13                     PANASONIC INDIA LIMITED                             VISE            14             7            13                             VISE      MITASHI EDUTAINMENT PVT LTD                              VU ELECTRONICS  0.310863  0.208152  0.187814
14       6      12             MIRC ELECTRONICS LIMITED(ONIDA)                         VIDEOCON             7             0            12                         VIDEOCON                            CROMA                 MITASHI EDUTAINMENT PVT LTD  0.372938  0.110187  0.096318
15       8       8                     PANASONIC INDIA LIMITED          PANASONIC INDIA LIMITED             1             7             8          PANASONIC INDIA LIMITED      MITASHI EDUTAINMENT PVT LTD          HAIER APPLIANCES (INDIA) P.LIMITED  0.523941  0.196406  0.177908
16       8       8                     PANASONIC INDIA LIMITED          PANASONIC INDIA LIMITED             4             6             8          PANASONIC INDIA LIMITED  MIRC ELECTRONICS LIMITED(ONIDA)  LLOYD ELECTRIC & ENGINEERING LIMITED(LEEL)  0.839109  0.089135  0.071756
17       4      10  LLOYD ELECTRIC & ENGINEERING LIMITED(LEEL)              SHARP INDIA LIMITED             0            11            10              SHARP INDIA LIMITED                         SKYWORTH                                       CROMA  0.321630  0.143696  0.098485
18       2      12                                       INTEX                         VIDEOCON            13             7            12                         VIDEOCON      MITASHI EDUTAINMENT PVT LTD                                        VISE  0.285558  0.131853  0.123456
19       6       6             MIRC ELECTRONICS LIMITED(ONIDA)  MIRC ELECTRONICS LIMITED(ONIDA)             2             8             6  MIRC ELECTRONICS LIMITED(ONIDA)          PANASONIC INDIA LIMITED                                       INTEX  0.304691  0.156495  0.136439

In [ ]:
df_test = pd.DataFrame()

df_test['y_test'] = y_test
df_test['y_pred'] = y_pred

df_test['true_label'] = le.inverse_transform(df_test.y_test)
df_test['pred_label'] = le.inverse_transform(df_test.y_pred)

df_test.to_csv('r20.15_balanced_subsample.csv',index=None)

In [ ]:
sc = StandardScaler()
X_sc = sc.fit_transform(X)

In [ ]:
X_train_sc,X_test_sc,y_train_sc,y_test_sc = train_test_split(X_sc,y,test_size=0.2,random_state=42)

In [ ]:
df_test.shape

In [ ]:
X_train_sc[0]

In [ ]:
y_test[:30],y_pred[:30]

In [ ]:
y_score = y_pred

In [ ]:
n_classes = len(le.classes_)

In [ ]:
y_test[0]

In [ ]:
y_score[0]

In [ ]:
# # Compute ROC curve and ROC area for each class
# fpr = dict()
# tpr = dict()
# roc_auc = dict()
# for i in range(n_classes):
#     fpr[i], tpr[i], _ = roc_curve(y_test[:, i], y_score[:, i])
#     roc_auc[i] = auc(fpr[i], tpr[i])

In [ ]:
from sklearn.multiclass import OneVsRestClassifier

In [ ]:
clf = OneVsRestClassifier(RandomForestClassifier(random_state=0))
clf.fit(X_train, y_train)

In [ ]:
y_score = clf.predict_proba(X_test)

In [ ]:
fpr = dict()
tpr = dict()
roc_auc = dict()
for i in range(n_classes):
    fpr[i], tpr[i], _ = roc_curve(y_test[:, i], y_score[:, i])
    roc_auc[i] = auc(fpr[i], tpr[i])

# Plot of a ROC curve for a specific class
for i in range(n_classes):
    plt.figure()
    plt.plot(fpr[i], tpr[i], label='ROC curve (area = %0.2f)' % roc_auc[i])
    plt.plot([0, 1], [0, 1], 'k--')

In [ ]:
y_test[0]

In [ ]:
y_score[0]

In [ ]:
X_train[0]

In [ ]:
X_test[0]

In [ ]:
import keras
from keras.models import Sequential
from keras.layers import LSTM, Dense, Dropout
from keras.optimizers import RMSprop

In [ ]:
num_classes = len(le.classes_)

In [ ]:
# X_train = np.reshape(X_train, (X_train.shape[0], 1, X_train.shape[1]))
# X_test = np.reshape(X_test, (X_test.shape[0], 1, X_test.shape[1]))

# X_test = np.reshape(X_test, (X_test.shape[0], 1, X_test.shape[1]))
# y_test = np.reshape(y_test, (y_test.shape[0], 1, y_test.shape[1]))

In [ ]:
X_train[0],len(X_train[0])

In [ ]:
y_train[0]

In [ ]:
num_classes

In [ ]:
le.classes_

In [ ]:
classifier = Sequential()
#First Hidden Layer
classifier.add(Dense(512, activation='relu', kernel_initializer='random_normal', input_dim=33))

#Second  Hidden Layer
classifier.add(Dense(256, activation='relu', kernel_initializer='random_normal'))
#model.add(Dropout(0.2))
#Output Layer"
classifier.add(Dense(2, activation='sigmoid', kernel_initializer='random_normal'))

In [ ]:
classifier.summary()

In [ ]:
#Compiling the neural network
classifier.compile(optimizer ='adam',loss='binary_crossentropy', metrics =['accuracy'])

In [ ]:
#Fitting the data to the training dataset
classifier.fit(X_train,y_train, batch_size=10, epochs=100,validation_data=(X_test, y_test))

In [ ]:
model = Sequential()
#model.add(LSTM(128, dropout=0.2, recurrent_dropout=0.2, input_shape=((1, 33))))
model.add(Dense(8, input_dim=33, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(num_classes, activation='softmax'))

model.summary()

model.compile(loss='categorical_crossentropy',
              optimizer=RMSprop(),
              metrics=['accuracy'])

#print(x_train.shape, y_train.shape)

history = model.fit(X_train, y_train,
                    epochs=10,
                    verbose=1,
                    validation_data=(X_test, y_test))

In [ ]:
import xgboost as xgb

In [ ]:
model = xgb.XGBClassifier(n_jobs=-1)
model.fit(X_train,y_train)
accuracy_score(y_test, model.predict(X_test))

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
df_test = pd.DataFrame()

df_test['y_test'] = y_test
df_test['y_pred'] = y_pred

df_test['true_label'] = le.inverse_transform(df_test.y_test)
df_test['pred_label'] = le.inverse_transform(df_test.y_pred)

df_test.to_csv('r20.7_balanced_subsample_xgb.csv',index=None)

In [ ]:
del joined

In [ ]:
len(X_test)

In [ ]:
le.classes_

In [ ]:
import xgboost as xgb

In [ ]:
model_sp = xgb.XGBClassifier(n_jobs=-1,objective='multi:softprob')
model_sp.fit(X_train,y_train)
y_predmodel_sp = model_sp.predict(X_test)
accuracy_score(y_test, y_pred)

In [ ]:
y_prob_sb = model_sp.predict_proba(X_test)

In [ ]:
y_prob[500],y_prob_sb[500]

In [ ]:
feat_importances = pd.Series(clf.feature_importances_)
%matplotlib inline

In [ ]:
feat_importances.nlargest(len(feat_importances)).plot(kind='barh')

In [ ]:
import pickle
with open('R20.7.model','wb') as f:
    pickle.dump(model,f)
with open('R20.7.le','wb') as f:
    pickle.dump(le,f)